<h1>Routing In Anguler</h1>
<nav>
    <a href="" class="button" routerLink="">Home</a>
    <a href="" class="button" routerLink="about" routerLinkActive="activebutton">About</a>
    <a href="" class="button" routerLink="contact" routerLinkActive="activebutton">Contact</a>
    <a href="" class="button" routerLink="login" routerLinkActive="activebutton">Login</a>
    <a href="" class="button" routerLink="register" routerLinkActive="activebutton">Register</a>
</nav>
<router-outlet></router-outlet>
